*{
    margin: 0;
}

.navbar{
    background-color: #F55A5A;
    font-family: inter;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14.46px;
    color: white;
    height: 95px;
}

.navbar > h2{
    margin-left: 13px;
}